body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	
	font-family: Arial, sans-serif;
}

a:link { color: #4CF; }
a:visited { color: #4CF; }  
a:hover { color: #4CF; }  
a:active { color: #4CF; } 



#calendar-container {
	width: 40%;
	min-width: fit-content;
	
	background-color: var(--bg);
	color: var(--fg);
	
	--bg: #010;
	--fg: #fff;
	
	--title: #fff;
	
	--calendar_bg: #021;
	--calendar_fg: #fff;
	--calendar_border: #cfc;
	--week_bg: #032;
	--week_fg: #fff;
	--other_month_date_fg: #777;
	--current_date_bg: #064;
	--current_date_fg: #fff;
	--hover_date_bg: #042;
	--hover_date_fg: #fff;
	--event-date-bg: #045;
	--event-date-fg: #fff;
}

#event-container {
	width: 60%;
	padding: 0 1rem;
	
	overflow: scroll;
	
	background-color: var(--bg);
	color: var(--fg);
	
	--bg: #100;
	--fg: #fff;
}



#calendar-container h1 {
	color: var(--title);
	margin: 1rem;
	
}



.calendar {
	width: 490px;
	margin: auto;
	margin-top: 40px;
	background-color: var(--calendar_bg);
	color: var(--calendar_fg);
}

.calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.calendar-header button {
	background-color: transparent;
	color: var(--calendar_fg);
	border: none;
	font-size: 1.5em;
	cursor: pointer;
}

#month-year {
	font-size: 1.2em;
	font-weight: bold;
}

.calendar-weekdays, .calendar-dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div, .calendar-dates div {
	text-align: center;
}
.calendar-weekdays div {
	height: 40px;
	line-height: 40px;
	background-color: var(--week_bg);
	color: var(--week_fg);
	font-weight: bold;
}



.date {
	position: relative;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid var(--calendar_border);
	cursor: pointer;
}

.date.prev-month, .date.next-month {
	color: var(--other_month_date_fg);
}
.date.current-date {
	background-color: var(--current_date_bg);
	color: var(--current_date_fg);
	border-radius: 8%;
}
.date.calendar-dates div:hover {
	background-color: var(--hover_date_bg);
	color: var(--hover_date_fg);
}



.date.event {
	background-color: var(--event-date-bg);
}

.date .date-num {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	z-index: 2;
}

.date .icon {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}






#event-image {
	max-width: 80%;
	max-height: 80%;
}



#event-list {
	display: block;
	margin-top: 4rem;
	margin-left: 1rem;
	list-style-type: disc;
	line-height: 2.0;
	font-size: 1.5rem;
}



@media (max-width: 800px) {

	#calendar-container {
		--bg: #fff;
		--fg: #010;
	}

}
